aiofiles
ffmpeg-python
gTTS
geezlibs
dnspython
future
googletrans
motor
pillow
psutil
pykeyboard
pyrogram
python-arq
requests
git+https://github.com/bisohns/search-engine-parser.git
speedtest-cli
TgCrypto
uvloop
youtube_dl
bs4
python-dotenv
feedparser
pyromod
fuzzysearch
img2pdf
telegraph
jikanpy
cinemagoer
httpx[http2]
httpcore==0.14
